*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    font-size: large;
    background-color: #2A8C82;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: fit-content;
    border: 5px solid #275950;
    top: 0;
    left: 0;
    position: sticky;

    font-style: italic;
    font-weight: bold;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    padding: 15px 50px;
    position: relative;
    overflow: hidden;    
}

nav ul li::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 100px;
    background: #000;
    bottom: 0;
    transform: translateX(110px);
    opacity: 0;
    transition: all 0.4s cubic-bezier(.55,0,.1,1);
}

nav ul li:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 20px;
}

nav ul, .ad, article{
    color: #260101;
    border: 3px solid #2A8C82;
}

a{
    color: #260101;
    text-decoration: none;
}

footer{
    padding: 3em;
    background-color: #2A8C82;
    margin-bottom: 0;
    margin-top: 1.5em;
}

li{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

/*declaracion de areas de mi grilla*/

.contenido{
    grid-area: contenido;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

.envoltura{
    background-color: whitesmoke;
    margin-bottom: 0;
    display: grid;
    grid-template-areas: 
    "header"
    "contenido"
    "sidebar"
    "ad"
    "galeria"
    "footer";
    gap: 20px;
}

.padre{
    background-color: #88F2E8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    justify-items: center;
}

img{
    width: 300px;
    height: 250px;
    margin-top: 15px;
    border: 8px solid #2A8C82 ;
}

footer img{
    width: 48px;
    height: 48px;
}

footer{
    margin-top: 0;
}

@media (min-width:500px){

    .envoltura{

        grid-template-areas: 
        "header     header"
        "sidebar    contenido"
        "sidebar    contenido"
        "ad         contenido"
        "galeria    galeria"
        "footer     footer";
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img{
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 768px){
   .envoltura{
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 3fr 1fr;
    
        grid-template-areas: 
        "header     header      header"
        "sidebar    contenido   contenido"
        "sidebar    contenido   contenido"
        "ad         contenido   contenido"
        "galeria    galeria     galeria"
        "footer     footer      footer";

    }

    nav ul{
        flex-direction: column;
        border: 2px solid #275950;
        justify-content: space-evenly;
    }

    .galeria-grid{
        background-color: #88F2E8;
    }

    .padre{
        background-color: #88F2E8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 3em;
    }

    img{
        width: 200px;
        height: 150px;
        border: 5px solid #41BFB3;
    }

    footer{
        margin-top: 3em;
    }

    @media (min-width:1024px){
        body{
            background-color: whitesmoke;
        }
        .envoltura{
            color: #260101;
        }

        .padre{
            padding: 1.5em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: auto;
            margin: 0;
        }

        img{
            width: 475px;
            height: 400px;
            margin-top: 15px;
        }
    }

}